services:
  remnanode:
    container_name: remnanode
    hostname: remnanode
    image: remnawave/node:latest
    network_mode: host
    restart: always
    environment:
      - NODE_PORT=$REMNANODE_PORT
      - SECRET_KEY=$REMNAWAVE_SECRET_KEY
    volumes:
      - /dev/shm:/dev/shm
      - /var/log/remnanode:/var/log/remnanode
      - /opt/remnawave/xray/share/zapret.dat:/usr/local/bin/zapret.dat
